<section>
    <div class="container">
        <app-toggle></app-toggle>
        <div class="list">
            <h1>Dashboard</h1>

            <div *ngFor="let x of this.service.jobprofilesMap | keyvalue" class="dashboard-container">
                <div *ngIf="x.value.user.email == auth.currentUserEmail()" class="dashboard-card">
                    <div class="flex">
                        <p class="intro">{{x.value.introduction}}</p>
                        <div class="city">
                            <p>{{x.value.city}}</p>
                        </div>
                    </div>
                    <div class="skills">
                        <p>Skills:</p>
                        <p *ngFor="let s of makeArray(x.value.skills)" class="skill">{{s}}</p>
                    </div>
                    <div class="line">
                        <div class="icons">
                            <fa-icon [icon]="faEdit" (click)="goToEdit(x.value.id, x.key, x.value)"></fa-icon>
                            <fa-icon [icon]="faTrash" (click)="this.service.remove(x.key)"></fa-icon>
                        </div>
                    </div>
                    <div class="owner flex">
                        <p>Recruiter: {{x.value.user.userName}}</p>
                        <a href="mailto:{{x.value.user.email}}"><fa-icon [icon]="faEnvelope"></fa-icon></a>
                    </div>
                </div>
            </div>

            <div style="text-align: center;" >
                <button (click)="goToCreate()">Create a jobprofile!</button>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</section>