<header>
  <nav>
  </nav>
</header>
<div class="nav-container" [ngClass]="{'open': this.service.isOpen}">
  <div class="logo">
    <p><a routerLink="list">Your Next Employee</a></p>
  </div>
  <ul [ngClass]="{'open': this.service.isOpen}" (click)="closeMenu()">
    <li><a routerLink="list">List</a></li>
    <li *ngIf="this.auth.isLoggedIn()"><a routerLink="create">Create</a></li>
    <li *ngIf="this.auth.isLoggedIn()"><a routerLink="dashboard">Dashboard</a></li>
    <li *ngIf="this.auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
    <li *ngIf="!this.auth.isLoggedIn()"><a routerLink="login">Login</a></li>
  </ul>
  <fa-icon (click)="toggleMenu()" *ngIf="!this.service.isOpen" [icon]="faBars"></fa-icon>
  <fa-icon (click)="toggleMenu()" *ngIf="this.service.isOpen" [icon]="faClose"></fa-icon>
</div>

<router-outlet></router-outlet>